.git
.gradle
.devcontainer
.vscode
.agents
openspec
adr
config

api/
bom/
build-logic/
common/
data/
integration/
parent/
test/

server/src/
server/build/classes/
server/build/generated/
server/build/libs/
server/build/reports/
server/build/scripts/
server/build/tmp/
server/build/distributions/
